<!DOCTYPE html>
<html>
<head>
	<title>Infogram</title>
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="static/css/styles.css">#}
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="shortcut icon" href="static/images/infogram.png">

  </head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-expand-lg ">
  <a href="{% url 'index' %}" class="brand-logo"><img src="static/images/infogram.png" alt=""> </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
     <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
      </li>
    </ul>
    </ul>
  </div>
</nav>

{# Aquí se cargan los demás html's #}
{% block content %} {% endblock %}

<footer class="page-footer">
         <div class="footer-copyright">
           <div class="container">
               <h5 class="text-white">Ana Paola Lakes Parra y Octavio Martínez Osorio</h5>
               <h6 class="text-white">© 2020 Copyright Text</h6>
           </div>
         </div>
</footer>


<script src="static/js/bootstrap.min.js"></script>
{#<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>#}
</body>
</html>