<!DOCTYPE html>
<html>
<head>
	<title>Infogram</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="static/images/infogram.png">
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-light mb-3">
  <a class="navbar-brand" href="#">
    <a href="#!" class="brand-logo"><img src="static/images/infogram.png" alt=""> </a>
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <img src="static/images/card1.jpg" class="card-img-top" width="50px" height="400px" alt="...">
          <!--Aqui yo pensaba poner el usuario pero no seeee como-->
          <h5 class="card-title">Usuario</h5>
          <!--Descripcion que da el usuario-->
          <p class="card-text">--Descripcion.</p>
          <a href="#" class="btn btn-primary">link!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <img src="static/images/card2.jpg" class="card-img-top" width="50px" height="400px" alt="...">
          <!--Aqui yo pensaba poner el usuario pero no seeee como-->
          <h5 class="card-title">Usuario</h5>
          <!--Descripcion que da el usuario-->
          <p class="card-text">--Descripcion</p>
          <a href="#" class="btn btn-primary">link!</a>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class="page-footer">

         <div class="footer-copyright">
           <div class="container">
           © 2020 Copyright Text
           <a class="white-text text-lighten-4 right" href="#!">Octavio Martinez y Ana Lagunas</a>
           </div>
         </div>
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>