<!DOCTYPE html>
<html>
<head>
	<title>Infogram</title>
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
      <link rel="stylesheet" href="static/css/styles.css">
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="shortcut icon" href="static/images/infogram.png">

  </head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-expand-lg ">
  <a {% if request.user.is_authenticated %} href="{% url 'index' %}" {% endif %} class="brand-logo"><img src="static/images/infogram.png" alt=""> </a>
    {% if request.user.is_authenticated %}
        <a class="nav-link text-white">Bienvenido {{ request.user }}!</a>
    {% endif %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
        {% if request.user.is_authenticated %}

    <li class="nav-item active">
        <a class="nav-link text-white" href="{% url 'perfil' %}">Mi Perfil</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-white " href="{% url 'pub-crear' %}">Publicar</a>
    </li>
     <li class="nav-item active">
        <a class="nav-link text-white " href="{% url 'logout' %}">Cerrar Sesión<span class="sr-only"></span></a>
      </li>
{#        {% else %}#}
{#        <li class="nav-item active">#}
{#        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión<span class="sr-only"></span></a>#}
{#      </li>#}
{#        <li class="nav-item active">#}
{#        <a class="nav-link" href="{% url 'registro' %}">Registro<span class="sr-only"></span></a>#}
{#      </li>#}
        {% endif %}

    </ul>
    </ul>
  </div>
</nav>
{% include 'notification.html'%}
{# Aquí se cargan los demás html's #}
{% block content %} {% endblock %}

<footer class="page-footer bg-dark">
         <div class="footer-copyright">
           <div class="container">
               <h5 class="text-white">Ana Paola Lakes Parra y Octavio Martínez Osorio</h5>
               <h6 class="text-white">© 2020 Copyright Text</h6>
           </div>
         </div>
         <div class="col l4 offset-l2 s12">
          <h5 class="text-white">Links para nuestras redes sociales</h5>
          <div class="col-12">
              <li><a class="text-white text-lighten-3" href="https://www.facebook.com/anapao.lagunas/">Facebook Ana Lakes</a>
              <img src="static/images/facebook.png" alt="" width="20px" height="20px"></li>
        
             </li>
              <li><a class="text-white text-lighten-3" href="https://www.instagram.com/anapaolp">Instagram Ana Lakes</a>
              <img src="static/images/instagram.png" alt="" width="20px" height="20px">
              </li>
              <li><a class="text-white text-lighten-3" href="https://www.facebook.com/octavio.martinez.9212301">Facebook Octavio Martinez</a>
                <img src="static/images/facebook.png" alt="" width="20px" height="20px"></li>
               </li>
                <li><a class="text-white text-lighten-3" href="https://www.instagram.com/octaviiomtz">Instagram Octavio Martinez</a>
                <img src="static/images/instagram.png" alt="" width="20px" height="20px">
                </li>
          </div>
</footer>


<script src="static/js/bootstrap.min.js"></script>
{#<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>#}
</body>
</html>