{% extends 'base.html' %}
{#Se define el contenido que aparecerá en 'base.html'#}
{% block content %}
        <div class="container mt-3">
          <div class="row">
            {% for foo in pubs %}
            <div class="col-6 ">
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{ foo.nombre_usuario }}</h5>
                  <img src="{{ foo.imagen.url }}" class="card-img-top" width="10px" height="400px" alt="...">
                  <p class="card-text">{{ foo.descripcion }}</p>
                  <p class="card-text">{{ foo.fecha_publicacion }}</p>
                  <a class="btn" onclick="document.getElementById('{{ foo.id }}').src='static/images/icons8-heart-50 (1).png'">
                      <img id="{{ foo.id }}" src="static/images/icons8-heart-50.png">
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
{% endblock %}