<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="static/images/infogram.png">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light mb-3">
        <a class="navbar-brand" href="#">
          <a href="#!" class="brand-logo"><img src="static/images/infogram.png" alt=""> </a>
        </a>
      </nav>
    <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Inicia Sesión
            </h1>
            </h2>
          </div>
        </div>
      </section>
          <!-- Inicio de la seccion del formulario -->
          <div class="card">
            <div class="card-body">
                <figure class="image container is-128x128">
                    <img src="static/images/usuario.png" width="100px" height="100px">
                  </figure>
                  <form>
                      <div class="field">
                          <label class="label">Nombre de usuario:</label>
                          <div class="control has-icons-left has-icons-right">
                              <input class="input" type="text" placeholder="" value="">
                              <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                              </span>
                          </div>
                      </div>
                      <div class="field">
                          <label class="label">Contraseña:</label>
                          <div class="control has-icons-left has-icons-right">
                              <input class="input" type="text" placeholder="" value="">
                              <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                              </span>
                          </div>
                      </div>
                      <div class="field is-grouped">
                          <div class="control">
                              <button class="button is-link">Enviar</button>
                          </div>
                          <div class="control">
                              <button class="button is-link is-light">Cancelar</button>
                          </div>
                      </div>
                  </form>
            </div>
          </div>
         
      
      <div class="columns is-mobile is-centered">
        <div class="column is-half is-narrow"></div>
      </div>
      
</body>
</html>
