{% extends 'base.html' %}
{#Se define el contenido que aparecerá en 'base.html'#}
{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-4 ">
      <div class="card mb-3">
        <div class="card-body">
          <img src="static/images/carrusel1.jpg" width ="300px" height="300px" alt="">
          <h5 class="text-center">Conoce nuevos lugares!</h5>
        </div>
      </div>
    </div>
    <div class="col-4 ">
      <div class="card mb-3">
        <div class="card-body">
          <img src="static/images/carrusel4.jpg" width ="300px" height="300px"alt="">
          <h5 class="text-center">Haz nuevos amigos!</h5>
        </div>
      </div>
    </div>
    <div class="col-4 ">
      <div class="card mb-3">
        <div class="card-body">
          <img src="static/images/carrusel2.jpg" width ="300px" height="300px" alt="">
          <h5 class="text-center">Comparte las mejores fotografías!</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2 mb-2">
      <form action="{% url 'registro' %}" method="post">
          {% csrf_token %}
        <div class="form-row">
        <div class="form-group col-md-12">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Usuario</label>
              {{ form.username }}
              {{ form.username.errors }}
{#            <input type="email" class="form-control" id="inputEmail4">#}
          </div>
        </div>
            <div class="form-group col-md-12">
            <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
              {{ form.email }}
              {{ form.email.errors }}
{#            <input type="email" class="form-control" id="inputEmail4">#}
          </div>
          </div>
            <div class="form-group col-md-12">
            <div class="form-group col-md-6">
              <label for="inputPassword6">Contraseña:</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
{#              <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">#}
{#              <small id="passwordHelpInline" class="text-muted">#}
{#                Must be 8-20 characters long.#}
{#              </small>#}
            </div>
            </div>
                <div class="form-group col-md-12">
                <div class="form-group col-md-6">
                  <label for="inputPassword6">Confirma Contraseña:</label>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
{#                  <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">#}
                </div>
                </div>
        </div>
          <input type="submit" class="btn btn-primary" value="Registrate!">
            <div class="mt-2">
              <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
            </div>
      </form>
</div>
{% endblock %}
